@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main>
<div class="text-center">
    <h1 class="display-4">Birds</h1>
    <br />
    <br />
    <h2>Une application dédiée au ressencement des oiseaux</h2>
        <br />
    <p>Inspiré de la LPO <a href="https://www.lpo.fr/">Protégeons notre environnement</a>.</p>
</div>
</main>
